:root {
	// 版心宽度
	--center-width: 1280px;
	/* 主题 */
	--primary-color: #37a6a6;
	/* 头部 高度 */
	--header-height: 60px;
	/* 背景颜色 */
	--bg-color: #fff;
	--bg-color-1: #f6f6f7;
	/* 阴影 */
	--base-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
	/* 圆角 */
	--base-b-r: 4px;
	/* 文档主要字体色 */
	--text-color-1: #252933;
	/* 灰色 */
	--text-color-2: #3c3c43;
	--text-color-3: #515767;
	--text-color-4: #a4b0be;
	--text-color-5: #8a919f;
	// 边框
	--border-color: #e4e7ed;
	// 滚动条
	--scroll-color: #ccc;
	// 蒙层
	--mask-color: rgba(101, 108, 133, 0.8);
	/* markdown */
	--md-body-text-color: var(--text-color-3);
	--md-title-h-color: var(--text-color-2);
	--md-blockquote-bg: var(--el-color-primary-light-9);
	--md-blockquote-text-color: var(--text-color-4);
	--md-blockquote-border-left-color: var(--primary-color);
	--md-inline-code-bg-color: var(--el-color-primary-light-9);
	--md-inline-code-text-color: var(--primary-color);
	/* --md-inline-code-bg-color: #dff9fb;
	--md-inline-code-text-color: #00769a; */
	--md-pre-bg-color: #292d3e;
	--md-a-text-color: var(--primary-color);

	/* el */
	--el-font-family: 'FiraCode-Regular', 'FZKai-Z03s';
}

// 媒体查询
@size-xs: 640px;
@size-sm: 768px;
@size-md: 960px;
